.colorStyle{
    color:blueviolet;
    background-color: aliceblue;
}
.myHeader{
        background-color: rgb(255, 255, 255);
}
.myFooter{
    background-color: lightgrey;
    height: 300px;
    color: black;
}
.imageGallery{
    border: 10px double blue;
    background-color: aliceblue;
}